langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-openai
langgraph

pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb

python-dotenv
typesense

tqdm
tiktoken