langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-ollama
langgraph

pypdf
pymupdf
faiss-cpu

python-dotenv

tqdm
tiktoken

unstructured
easyocr
PyMuPDF
fastapi
uvicorn
pydantic
mcp
pandas
openpyxl
httpx
requests
beautifulsoup4
lxml
ddgs